


<h3>Les derniers articles </h3>
<ul>
    <ul class="nav nav-pills nav-stacked">
    {% for article in listes_articles %}
        <li> <a href="{{ path('blog_article_voir', {'id': article.id }  )}}">{{ article.titre }}</a></li>
        
        {% endfor%}
    </ul>
</ul>